<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wmsdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <permission
         android:name="com.example.wmsdemo.permission.MAPS_RECEIVE"
         android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.wmsdemo.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<uses-feature
  		android:glEsVersion="0x00020000"
  		android:required="true"/>
	
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- TODO
          Put your google maps api key in value below
        (my debug key won't work on your development platform!)

        Getting an API key is something of a chore.  Google wisely.  I like
        the links below, but your mileage may vary:

        http://stackoverflow.com/questions/15727912/sha-1-fingerprint-of-keystore-certificate
        http://developer.xamarin.com/guides/android/platform_features/maps_and_location/maps/obtaining_a_google_maps_api_key/
        (Ignore all the xamarin specific stuff in that guide above.)

        -->
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyDQNzsUMuTwdMIf7DnrlMcS3YSrSAMqHnQ"/>
        
        
        <activity
            android:name="com.example.wmsdemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>